/* From this assignment I have acquired a better understanding of CSS. I have a solid grasp of basics but still need work on positioning, especially items side by side. */ 

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: black;
}

header {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  
}

.avatar {
  height: 79px;
  width: 50px;
}

/* The h1 isn't quite center aligned. I have tried justify-content center and also text-align center, neither worked. */

h1 {
  
}

header button {
  color: blue;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  background-color: skyblue;
  font-family: monospace;

}

.navlist, header h1 {
  align-content: center;
}

/* set max height and width to 100% as i believe that allows me to stylize item individually or allow their natural size to be 
what is displayed. */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
}

.projects-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projects-header p {
  font-size: 10px;
}

.project-1-content, .project-2-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

p {
  margin: 0px 5px;
}


h3 {
  padding: 10px 0 5px 10px;
  text-decoration: underline;
}


.project-1-img {
  max-height: 500px; 
  max-width: 500px;
  margin: 5px;
}

.project-2-img {
 max-width: 200px;
 max-height: 200px;
 margin: 5px 10px;
}

h2 {
  font-size: 25px;
  text-decoration: underline;
  color: aquamarine;
  padding: 10px 0 10px 10px;
}

#bottom li {
  padding-left: 10px;
}

.refactoring-span {
  color: blueviolet;
  text-decoration: underline;
}

.project-1-img:hover, .project-2-img:hover {
  cursor: pointer;
  webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    filter: blur(1px);
}

.navlist button:hover {
  border: solid;
  border-color: orange;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

#bottom {
  clear: both;
  display: block;
}

.back-to-top {
  float: right;
  margin: 0px 5px 5px 0px;
  vertical-align: baseline;
}

/* the more I dive into media queries and the dynamics of my page the more I realize one could, and essentially does, 
restyle the entire page per given media query */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  h1 {
   display: flex;
   justify-content: center;
  }

  .navlist {
    display: flex;   
    justify-content: space-between;
  }

}

@media screen and (max-width: 523px) {
  main {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  


  .project-1-img {
    max-width: 100%;
  }

}

/* I don't know if I need to go this small but at this size and smaller loads of issues arise. How do I accomodate tiny window sizes? */

@media screen and (max-width: 355px) {
  header {
    border: none;
    display: flex;
    flex-direction: column;
  }

  h1 {
    position: relative;
  }

  .navlist a {
    
  }

  
}

/* Lots of instances of flex. Not sure if each container needs that or if there is a way to set that on a higher level and consolidate lines. */